/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */

html, body{
  color: white;
  background: black;
  font-family: 'Space Grotesk', sans-serif;;
  height: 100vh;
}

/* text */
h3 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}


#top-h4 {
  color: #ff0070;
  font-size: 30px;
  text-align: center;
  margin-top: 13%;
  /* margin-bottom: 3%;  */
}



h4 {
  color: #ff0070;
  font-size: 30px;
  text-align: center;
  /* margin-top: 13%; */
  margin-bottom: 3%;
  /* padding-top: 5%; */
  /* padding-bottom: 30px; */
}


h6 {
  color: white;
  font-size: 17px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 3%;
  line-height: 35px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ff0070;
  margin: 1em 0;
  padding: 0;
}

/* header */
header#home {
  background-image: 
    linear-gradient(
      rgba(0,0,0,.1), 
      rgba(0,0,0,.9)),
      url("https://i.imgur.com/EgQFawz.png");
  /* height: 100%; */
  /* Background-position: top; */
  
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding: 20%;
  color:white;
  text-align: center;
  text-shadow:2px 2px 5px rgb(80,0,0);
}

.icon {
  /* margin: auto; */
  border: solid #ff0070 5px;
  border-radius: 360px;

  width: 15vw;
  /* margin-top: 18%; */
  z-axis: 100px;
  width: clamp(200px, 25%, 400px);
  margin-top: clamp(20px, 100vh, 150px);
}

.bio {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

/* grid */

row {
  margin-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  display: inline-block;
  height: 80px;
  margin-bottom: 5%;
}

/* about me section*/
.square img {
  width: 25%;
  float: left;
  margin-left: 20%;
  margin-right: 5%;
  /* margin-top: 5%; */
  margin-bottom: 5%;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .square img {
    display: block;
    width: 70%;
    margin: 0 auto;
    float: none;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

#about-me h6 {
  color: white;
  font-size: 130%;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 10%;
  margin-top: 5%;
}
#about-me h4 {
  margin-bottom: 4%;
}

/* carousel */
/* .carousel-item img{
  height: 500px;
} */
.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel.slide.art-carousel {
  width: 80%;
  height: 60%;
}


/* .carousel-inner{
  height: 900px;
} */

/* .model-carousel{
  width: 70%;
  margin:auto;
} */

/* contact me*/
#logo  {
  display: inline-block;
  height: 80px;
  margin-bottom: 5%;
}